/*Rules for medium and large views*/

@media (min-width: 900px) {

  #info {
    display: flex;
    flex-wrap: wrap;
  }
  
  #info p:not(:last-child)::after {
    content: "|";
    margin: 0 0.5em;
  }
  
}  

/* Define rules for medium view */

@media screen and (min-width: 900px) and (max-width: 1199px) {

  #socialcontainer {
    display: flex;
    justify-content: center;
  }
  
      /*Home Page Rules*/
    /*Drinks*/
    #special-drinks {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

}