/*Rules for medium and large views*/

@media (min-width: 900px) {

  #info {
    display: flex;
    flex-wrap: wrap;
  }
  
  #info p:not(:last-child)::after {
    content: "|";
    margin: 0 0.5em;
  }

  /*Fresh Page*/

  #fr-main {
    display: flex;
  }
  
  #buildimage img {
    width: 90%;
    float: right;
  }

  #fr-container-l1,
  #buildimage {
    flex: 1;
    margin-top: 20px;
  }

    /*About US Page*/

    #ab-main {
      display: flex;
      gap: 10px;
    }

    #ceo-profile {
      flex: 1;
      height: 700px;
    }
    #m-about-area {
      flex: 2;
    }
  
}  

/* Define rules for medium view */

@media screen and (min-width: 900px) and (max-width: 1199px) {

  #socialcontainer {
    display: flex;
    justify-content: center;
  }
  
      /*Home Page Rules*/
    /*Drinks*/
    #special-drinks {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
  }

}