@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');

body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Alegreya Sans', monospace, sans-serif;
}

body a {
  color: goldenrod;
}

header,
main,
footer {
  margin: 0 auto;
  margin-top: 1em;
  color: rgb(93, 184, 190);
}

header,
footer {
  height: auto;
  padding: 1em;
  font-weight: bold;
  background-color: white;
  border-radius: 0.5em;
  border: 2px solid #000;
  box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 1);
}




#h-elements-l1 {
  display: flex;
  flex-direction: column;
}

#h-elements-l2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#h-elements-l2 div {
  flex: 1;
}

#h-elements-l2 div:first-child {
  justify-self: flex-start;
}

#h-elements-l2 div:nth-child(2) {
  justify-self: center;
}

#h-elements-l2 div:last-child {
  justify-self: flex-end;
}

#navcontainer {
  display: flex;
  align-items: center;
}

#navcontainer ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0;
}

#navcontainer li {
  flex: 1;
  text-align: center;
}

#navcontainer a {
  display: block;
  width: 120px;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: rgb(43, 22, 92);
  border: 1px solid goldenrod;
}

#navcontainer a:hover {
  background-color: rgba(43, 22, 92, 0.856);
}

#headerdate {
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: rgb(43, 22, 92);
  border: 2px solid goldenrod;
  border-radius: 0.8em;
}

#headerdate:hover {
  background-color: rgba(43, 22, 92, 0.856);
}

/*Rules for Logo and Social Icons*/

#logo {
  width: 250px;
}

#icon {
  padding: 5px;
  width: 40px;
  float: right;
}

/*Rules for footer elements*/

#f-elements-l1 {
  display: flex;
  flex-direction: column;
}

#f-elements-l2 {
  display: flex;
  justify-content: space-between;
}

#f-elements-l2 div {
  flex: 1;
}

#f-contact {
  text-align: center;
}

#f-map {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
}

#info {
  justify-content: center;
  color: white;
  background-color: rgb(43, 22, 92);
  border: 2px solid goldenrod;
  border-radius: 0.8em;
}

#info:hover {
  background-color: rgba(43, 22, 92, 0.856);
}

/*Home page rules*/

#h-main > :not(#hero) {
  width: 98%;
  margin: 0 auto;
}


#hero {
  position: relative;
  background-color: #35230e;
  border: 2px solid #000;
  border-radius: 1em;
  box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 1);
  overflow: hidden;
}

#hero picture {
  display: block;
  width: 100%;
  height: auto;
}

#herotext {
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.5em;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
}

#hero h1 {
  font-size: 50px;
}

/*h-mian-l2 Rules*/

#weather-area,
#about-area,
#cta {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1em;
  overflow: hidden;
  border: 2px solid #000;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

#weather-area {
  background-color: rgb(43, 22, 92);
}

.forecast-date,
.forecast-temperature,
.forecast-conditions {
  font-weight: bold;
}

/* About Section */
#about-area {
  text-align: center;
  background-color: #d8edf6;
}

#about-area h1 {
  margin-bottom: 10px;
  color: rgb(43, 22, 92);
}

#about-area p {
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(43, 22, 92);
}

#about-area img {
  border-radius: 0 0 50% 50% / 0 0 10em 10em;
}



/* CTA Section */
#cta {
  text-align: center;
  background-color: rgb(43, 22, 92);

}

#cta h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

#cta p {
  font-size: 18px;
  font-weight: bold;
}

#cta a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: goldenrod;
  border: 1px solid #000;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
}

#cta-drink-images img {
  width: 60px;
  height: 75px;
  border-radius: 0.5em;
}

/* Forecast Card */
.forecast-card {

  padding: 20px;
  text-align: center;
}

.forecast-card .forecast-date {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.forecast-card .forecast-temperature {
  font-size: 24px;
}

.forecast-card .forecast-conditions {
  font-size: 16px;
  margin-top: 10px;
}

.forecast-card img {
  width: 70px;
  height: 70px;
  margin-top: 10px;
}

/* Special Drinks */

#special-drinks {
  margin-top: 40px;
  margin-bottom: 20px;
}

#special-drinks h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#special-drinks .drink {
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 0.5em;
  border: 1px solid #000;
  box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.5);
}

#special-drinks .drink h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

#special-drinks .drink p {
  font-size: 16px;
  margin-top: 10px;
}

.drink table {
  margin: 0 auto;
}


/* Define rules for small view */

@media screen and (max-width: 600px) {

  /*This is some magic i worked out to shift around the header items
    in small view. The Logo will shift up and the social icons will fall under
    while the menu will go leftand span the width of the iems int he left.
  */
  #h-elements-l2 {
    display: grid;
    grid-template-columns: 2fr;
  }
  
  #h-elements-l2 div:nth-child(1) {
    grid-column: 1;
  }
  
  #h-elements-l2 div:nth-child(2) {
    grid-row: 1 / span 2;
    grid-column: 2;
  }
  
  #h-elements-l2 div:nth-child(3) {
    grid-column: 1;
    display: flex;
    width: 100%;
  }

}

@media screen and (min-width: 601px) and (max-width: 899px) {

  #socialcontainer {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 899px) {

  header, footer, main {
    font-size: 0.8rem;
    text-align: center;
  }

  #herotext h1 {
    font-size: 2rem;
  }

  #logo {
    border: 1px solid #000;
    width: 200px;
  }

  #f-elements-l2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #f-map {
    align-items: center;
  }

      /*Home Page Rules*/
    /*Drinks*/
    #special-drinks {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
  }

  #weather-area {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  #weather-area .forecast-card:not(:first-child) {
    display: none;
  }

}

/* Define rules for small and medium view */
@media screen and (max-width: 1199px) {

  main {
    width: 98%;
  }

  #h-elements-l2 div:nth-child(2) {
    order: 3; /* This will move the menu tot he end of the header */
  }
  
  #h-elements-l2 div:nth-child(3) {
    order: 2; /* This will move the social icons to the middle of the header.*/
  }

  #navcontainer {
    justify-content: flex-end;
  }
  
  #navcontainer ul {
    flex-direction: column;
    align-items: flex-end;
  }

  #navcontainer li {
    width: 100%;
  }

  #headerdate,
  #info {
    text-align: center;
    margin-top: 1em;
  }

  #info p:not(:last-child)::after {
    content: "";
  }

  #icon {
      margin-top: 1em;
      justify-content: center;
  }

  footer {
      text-align: center;
  }

  #f-elements-l2 #logo {
    float: left;
  }

  /* CSS for hamburger button in navigation */
  #navcontainer button {
      margin: auto 2vw;
      background: transparent;
      border: none;
      font-size: 2rem;
      color: white;
  }

  #navcontainer nav {
      background-color: rgb(43, 22, 92);
      border-radius: 0.5em;
      border: 2px solid goldenrod;
      display: grid;
  }

  #navcontainer nav ul {
      display: none;
      list-style-type: none;
      padding: 0;
      margin: 0;
  }

  #navcontainer nav ul li a {
      padding: .8rem 2vw;
      text-decoration: none;
  }

  #navcontainer nav ul li.active a {
      background-color: rgba(43, 22, 92, 0.856);
  }

  #navcontainer nav ul li a:hover {
      background-color: rgba(43, 22, 92, 0.856);
  }

  #navcontainer.open nav ul {
      display: block;
  }

  #menubtn span:nth-child(1) {
      display: block;
  }

  #menubtn span:nth-child(2) {
      display: none;
  }

  #navcontainer.open #menubtn span:nth-child(1) {
      display: none;
  }

  #navcontainer.open #menubtn span:nth-child(2) {
      display: block;
  }

  #h-main-l2 {
    display: flex;
    flex-direction: column;
  }

  #cta {
    padding: 20px;
  }

  #cta-drink-images {
    border: 2px solid gold;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    
  }
  
  #about-area img {
    width: 100%;
  }

  #weather-area {
    margin-top: 20px;
  }

}