@keyframes flashing {
    0%   {color: #000;}
    33%  {color: darkgreen;}
    66%  {color: gold;}
    100% {color: darkred;}
}

/* Body */
body {
    max-width: 1400px;
    margin: 0 auto;
    font-family: monospace, sans-serif;
}

body a {
    color: rgba(30, 255, 0, 0.678);
}

/* Header, Main, Footer */
header, main, footer {
    margin: 0 auto;
    margin-top: 1em;
}

main {
    margin: 1em;
}

header, footer {
    background-color: #000;
    color: white;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
    border-radius: 0.5em;
    padding: 1em;
}

header h1 {
    color: white;
}

h1, h2, h3, h4 {
    text-align: center;
    margin: 0;
}

hr {
    margin-top: 1em;
    width: 100%;
}

/* Header elements */
.banner {
    color: gold;
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0.5em;
}

#name-section h2 {
    overflow-wrap: break-word;
}

.nav-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

.nav-item {
    list-style: none;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: gold;
    border: 2px solid #000;
}

.nav-item a {
    color: #000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding: 0 1em;
}

.nav-item a:hover {
    color: darkred;
}

.nav-item:hover {
    background-color: yellow;
}

.responsive-menu li {
    display: block;
}

.responsive-menu #menu::before {
    content: "X";
}

#menu {
    border-radius: 0.5em;
}

#header-logo {
    max-width: 128px;
    width: 100%;
    height: auto;
}

.social {
    max-width: 50px;
    width: 100%;
    height: auto;
    margin: 0;
    border-radius: 0.5em;
}

#date-section {
    width: 100%;
    background-color: gold;
}

#date-section p {
    text-align: center;
    color: #000;
    font-weight: bold;
    margin: 0.5em 0;
}

/* Main elements */
.home-section, .spotlight {
    background-color: #000;
    padding: 1em;
    border-radius: 1em;
    border: 1px gold solid;
}

.home-section, .spotlight h2 {
    color: white;
}

.home-section, .spotlight p {
    color: gold;
}

.spotlight h1 {
    font-size: 1.1rem;
}

#spotlight-section {
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

.home-section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

#event-section {
    justify-content: space-between;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

#news-section {
    justify-content: flex-start;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

#event-section p span {
    margin: 0;
    color: white;
    font-weight: bolder;
    display: block;
    text-align: center;
}

#join-section {
    justify-content: flex-start;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

#join-section button {
    background-color: gold;
    border: 1px black solid;
    border-radius: 1em;
    padding: 0.5em 2em;
    font-size: 1.25em;
    font-weight: bolder;
}

#join-section button:hover {
    background-color: yellow;
}

#join-section button a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#temperature-div {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: space-evenly;
}

#weather-section {
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

#weather-section :nth-child(2) img {
    max-width: 64px;
    height: auto;
}

#temperature {
    height: fit-content;
    justify-content: flex-end;
}

#weather-section hr {
    margin: 0.25em;
}

#weather-status {
    width: 100%;
    display: flex;
    padding-right: 1em;
    flex-direction: row;
    justify-content: flex-end;
}

#weather-data {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

#wind-speed, #wind-chill {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.spotlight p {
    margin: 0;
    text-align: center;
}

.spotlight img {
    display: block;
    margin: 0 auto;
    max-width: 80px;
    margin-bottom: 5px;
    height: auto;
}

.spotlight hr {
    margin: 0;
}

#hero-section {
    padding: 0;
    position: relative;
    border-radius: 1em;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

#hero-section h2 {
    position: absolute;
    left: 1em;
    top: 0.5em;
    color: white;
    font-size: 1.75em;
    font-weight: bolder;
    text-align: center;
}

#hero-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1em;
}

/* Footer elements */
#location-text {
    color: white;
}

footer p, h1 {
    color: gold;
}

#footer-top-content {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 2em;
    grid-row-gap: 0.25em;
    place-items: center;
}

#footer-top-content h1 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    text-align: left;
}

#footer-top-content p {
    margin: 0;
    padding: 0;
}

#footer-logo {
    max-width: 100px;
    height: auto;
    grid-column: 1;
    grid-row: 1/4;
}

#footer-top-content h1 {
    grid-column: 2;
    grid-row: 1;
}

#footer-top-content p:nth-child(3) {
   grid-column: 2;
   grid-row: 2; 
}

#footer-top-content p:nth-child(4) {
    grid-column: 2;
    grid-row: 3;
}

#footer-top-content p:nth-child(5) {
    grid-column: 3;
    grid-row: 1;
}

#footer-top-content p:nth-child(6) {
    grid-column: 3;
    grid-row: 2;
}

#footer-top-content p:nth-child(7) {
    grid-column: 3;
    grid-row: 3;
}

/* Discovery page */
#discovery-info {
    width: 95%;
    margin: 0 auto;
    background-color: gold;
    color: #000;
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #000;
    border-radius: 0.5em;
    box-shadow: 0 0 50px #333;
}

#discovery-info h2 {
    padding: 0.5em;
}

#discovery-info p {
    margin: 0;
}

#discovery-pics {
    margin-top: 1em;
    padding: 1em;
}

.discovery-pic {
    background-color: gold;
    border: 1px black solid;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    border-radius: 0.5em;
    box-shadow: 0 0 50px #333;
}

picture { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.discovery-pic picture img {
    width: 100%;
}

/* Directory Page */

.businesses h1 {
    display: none;
    color: transparent;
}

.heading {
    margin: 0 auto;
    font-size: 1.5rem;
    margin-bottom: 10px;

}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.disc-main-container button {
    padding: .5rem; 
    font-weight: bold;
    background-color: #000;
    color: rgba(30, 255, 0, 0.678);
    border-radius: 1rem;
    margin-bottom: 20px;
}

.disc-main-container button:hover {
    background-color: #000000c4;
}

.card-view {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.card-view img {
    width: 20%;
    padding: 10px;
}

.card-view .businesses section {
    margin: 1rem auto;
    width: 95%;
    text-align: center;
    padding-bottom: 10px;
}

.card-view .business-name {
    margin-top: 1px;
}

.card-view .membership-type {
    width: 30%;
    margin: 0 auto;
    font-weight: bold;
    color: rgba(30, 255, 0, 0.678);
}

.disc-main-container > section.card-view > section {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: gold;
    background-color: #000;
    border-radius: 1rem;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

/* List View CSS */
.list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-view > section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    padding: 1rem;
    border-radius: 3px;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 1rem 0;
    width: 90%;
}

.list-view img {
    display: none;
}

.list-view .business-name,
.list-view .membership-type,
.list-view .address,
.list-view .contact,
.list-view a {
    font-size: 0.8rem;
    text-align: center;
}

.list-view .membership-type {
    animation: flashing 2s infinite;
}

/* Join page */
#join-heading {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    animation: flashing 2s infinite;
}

.join-main {
    margin: 0 auto;
    margin-top: 30px;
}

.join-form-wrapper {
    margin: 0 auto;
    width:95%;
    border: 2px solid black;
    border-radius: 1em;
    background-color: gold;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

.join-form {
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 10px;
}

.join-main p {
    text-align: center;
    color: red;
    margin: 0 auto;
    margin-bottom: 20px;
}

.join-main h1 {
    text-align: center;
    margin: 0 auto;
    color: gold;
}

label {
    display: flex;
    flex-direction: column;
}

.first-label {
    margin-top: 20px;
}

input, select, textarea {
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
}

input[type="submit"] {
    cursor: pointer;
    margin-bottom: 40px;
    background-color: #000;
    color: gold;
    font-weight: bold;
    border-radius: 10px;
}

input[type="submit"]:hover {
    background-color: darkgreen;
}

.benefits-table-wrapper h3 {
    margin-bottom: 20px;
    background-color: #000;
}

table {
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 1em;
    overflow: hidden;
    width: 95%;
    letter-spacing: 1px;
    border: 1px solid #000;
    font-size: clamp(0.6rem, 0.5rem + 1.5vw, 1rem);
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

tfoot {
    text-decoration: solid;
    color: #000;
}

td {
    border-left: 1px solid #fff;
    text-align: center;
}

th {
    background-color: #000;
    color: gold;
    border: 1px solid #000;
    padding: 1ch;
}

thead tr:nth-child(2) td:first-child {
    background-color: #000;
}

tr:nth-child(even) td {
    background-color: rgb(255, 217, 0);
}

tr:nth-child(odd) td {
    background-color: rgba(255, 217, 0, 0.37);
}

#ml {
    background-color: #000;
}

/* Thank you page */
#thankyou {
    height: 200px;
    line-height: 200px;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: gold;
    background-color: #000;
    border-radius: 0.5em;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

/* Contact page */
#contact-container {
    width: 80%;
    margin: 0 auto;
}

#contact-right {
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    color: gold;
    background-color: #000;
    border-radius: 1em;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

#contact-left {
    padding: 10px;
    align-items: center;
    text-align: center;
    color: gold;
    background-color: #000;
    border-radius: 1em;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.7);
}

#contact-main input {
    border: none;
    border-bottom: 1px solid black;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#contact-main textarea {
    padding: 0.5em;
}

.profile-image {
    max-width: 300px;
    padding: 10px;
    height: auto;
    border-radius: 1em;
} 

/*Define rules for small and medium view*/

@media screen and (max-width: 1199px) {
    #menu {
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        font-size: 1.5rem;
        position: relative;
    }
      
    #menu::before {
        content: "≣";
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }      

}

@media screen and (max-width: 899px) {
    #home-main {
        display: flex;
        flex-flow: column nowrap;
        gap: 1em;
    }

    #join-section {
        display: none;
    }

    #spotlight-container {
        display: flex;
        gap: 1em;
        flex-direction: column;
    }

    #spotlight-section .spotlight:nth-child(3) {
        display: none;
    }

    #header-content {
        display: grid;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: auto 1fr auto;
        grid-gap: 1em;
        place-items: center;
    }

    #logo-section {
        grid-column: 1;
        grid-row: 1;
        display: flex;
        flex-flow: row nowrap;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }

    #logo-section h1 {
        text-align: left;
        font-size: 1.5em;
    }

    #logo-section h2 {
        text-align: left;
        font-size: 1.25em;
    }

    #social-div {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-flow: row nowrap;
        gap: 0.25em;
        align-items: center;
    }

    #hero-section h2 {
        position: absolute;
        left: 1em;
        top: 0.5em;
        font-size: 1.3em;
        font-weight: bolder;
        text-align: left;
    }

    #hero-section button {
        position: absolute;
        right: 1em;
        bottom: 1em;
        border: 1px white solid;
        border-radius: 1em;
        padding: 0.75em 1em;
        font-size: 1em;
        font-weight: bolder;
    }

    .navbar {
        grid-column: 3;
        grid-row: 1;
        padding: 0.5em 0;
    }

    #date-section {
        grid-column: 1/4;
        grid-row: 2;
    }

    .nav-item {
        display: none;
        width: 100%;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5em;
        align-items: flex-end;
    }

    .nav-links .nav-item:first-child {
        display: block;
    }

    .nav-item a {
        display: block;
        padding: 0.25em 0.75em;
        text-align: right;
    }

    #header-logo {
        max-width: 60px;
        height: auto;
    }

    .social {
        width: 24px;
        height: 24px;
        
    }

    #footer-top-content {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 0.75em;
    }

    #footer-top-content p {
        text-align: center;
        margin: 0;
    }

    #footer-logo {
        max-width: 80px;
        height: auto;
    }

    #footer-bottom-content p {
        margin: 0;
    }

    #footer-bottom-content, #info {
        display: flex;
        flex-flow: column nowrap;
        gap: 0;
        align-items: center;
    }

    /* Discovery page */
    #discovery-pics {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    #discovery-info {
        width: 90%;
    }

    /*Join Page*/

    .benefits-table-wrapper {
        margin: 20px auto;
    }

    .benefits-table-wrapper table {
        font-size: 0.9rem;
    }
      
    .benefits-table-wrapper table th,
    .benefits-table-wrapper table td {
        padding: 0.25em 0.5em;
    }
      
    .benefits-table-wrapper table .heading {
        font-size: 0.9rem;
    }
      

    /* Contact page */
    #contact-container {
        width: 80%;
        margin: 0 auto;
    }

    #contact-right {
        padding: 10px;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
    }

    #contact-left {
        padding: 10px;
        align-items: center;
        text-align: center;
    }

    .profile-image {
        max-width: 200px;
        padding: 10px;
        height: auto;
    }

    iframe {
        width: 100%;
    }
}